/*--------- Google fonts ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');


:root
{
	--primary-font: 'Poppins', sans-serif;

	--primary-color: #f9ef23;
	--secondry-color: #141414;
	--third-color: #ffffff;
}


*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 16px;
	font-weight: 400;
}

body
{
	background-color: var(--secondry-color);
	font-family: var(--primary-font);
}

.container
{
	padding: 1rem;
}

img
{
	max-width: 100%;
	height: auto;
}

.heading
{
	color: var(--primary-color);
	font-size: 2rem;
	font-weight: 900;
	font-style: italic;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.white
{
	color: var(--third-color);
}


.hero
{
	height: 100vh;
	background-image: url(img/main.jpg);
	background-position: top center;
	background-size: cover;
}

.logo
{
	color: var(--third-color);
	font-weight: 800;
}

.content
{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-heading
{
	color: var(--third-color);
	font-size: 2.5rem;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}

.main-heading span
{
	color: var(--primary-color);
}

.btn
{
	margin-top: 1rem;
	background-color: var(--primary-color);
	border: none;
	outline: none;
	padding: 0.8rem 2rem;
	transition: .5s;
}

.btn:hover
{
	transform: scale(1.1);
	cursor: pointer;
}

.btn a
{
	color: var(--secondry-color);
	text-decoration: none;
	font-size: 0.9rem;
	text-transform: uppercase;
}


.about .container
{
	padding: 3rem 1rem;
}

.about .container .row
{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.btn-link
{
	margin-top: 2rem;
	font-size: 1rem;
	text-transform: capitalize;
	border: none;
	outline: none;
	background-color: #ffffff00;
}

.btn-link a
{
	color: var(--third-color);
	text-decoration: none;
}

.offer .container
{
	padding: 3rem 1rem;
}

.offer-card
{
	height: 60vh;
	width: 100%;
	margin: 2rem 0;
	background-size: cover;
	position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer-tour
{
	background-image: url(img/tour.png);
}

.offer-classes
{
	background-image: url(img/classes.png);
}

.offer-training
{
	background-image: url(img/training.png);
}

.offer-name
{
	color: var(--third-color);
	text-transform: uppercase;
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
}

.testimonial .container
{
	padding: 2rem 1rem;
}

.review-card
{
	margin: 1.5rem 0;
}

.author-pic
{
	height: 45vh;
	background-size: cover;
	background-position: top center;
}

.author-pic-a
{
	background-image: url(img/author-a.png);
	background-position: center center;
}

.author-pic-b
{
	background-image: url(img/author-b.png);
}

.author-pic-c
{
	background-image: url(img/author-c.png);
}

.review-content
{
	background-color: var(--primary-color);
	padding: 1rem;
}

.author-name
{
	font-size: 1.2rem;
	font-style: italic;
}
.footer-widget
{
	height: 60vh;
	background-image: url(img/footer.avif);
	background-size: cover;
	background-position: center center;
}

.footer-widget .container
{
	padding: 2rem 2rem;
}

.footer-bottom
{
	background: var(--primary-color);
}

.footer-bottom .container
{
	padding: 2rem 1.5rem;
}

.footer-bottom .container .row .col
{
	margin: 1.5rem 0;
}

.contact-heading
{
	text-transform: uppercase;
	font-style: italic;
}

@media screen and (min-width: 768px)
{
	.container
	{
		max-width: 1300px;
		margin: 0 auto;
	}

	.heading
	{
		font-size: 3.5rem;
	}


	.hero .container
	{
		padding: 2.5rem 5rem;
	}

	.logo
	{
		font-size: 1.5rem;
		font-weight: 700;
	}

	.main-heading
	{
		font-size: 6.5rem;
		font-weight: 800;
	}

	.btn a
	{
		font-size: 1.5rem;
	}

	.about .container
	{
		padding: 6rem 4rem;
	}

	.about .container .row
	{
		flex-direction: row;
		gap: 5rem;
	}

	.about-content
	{
		width: 40%;
	}

	.about-img
	{
		width: 55%;
	}

	.btn-link
	{
		font-size: 1.3rem;
	}

	.offer .container
	{
		padding: 1rem 4rem;
	}

	.offer .container .heading, .offer .container .sub-heading
	{
		text-align: center;
	}

	.offer .container .row
	{
		display: flex;
		flex-direction: row;
		gap: 4rem;
		width: 100%;
	}

	.offer .container .row .col
	{
		width: 100%;
	}


	.testimonial .container
	{
		padding: 6rem 4rem;
	}

	.testimonial .container .heading
	{
		text-align: center;
	}

	.testimonial .container .row
	{
		display: flex;
		flex-direction: row;
		gap: 4rem;
		width: 100%;
	}


	.footer-widget
	{
		height: 70vh;
	}

	.footer-widget .container
	{
		padding: 6rem 4rem;
	}


	.footer-bottom .container
	{
		padding: 2rem 4rem;
	}

	.footer-bottom .container .row
	{
		display: flex;
		justify-content: space-between;
	}
}